body{
    font-family: elephant;
  font-size: 22px;
  font-style: normal;
margin: 3px;
background-color: #abe3e8;
}



#tudo{
width: 100%;
height: 100%;
text-align: center;
padding-top: 15px;
padding-bottom: 15px;
}
#cabecalho{
margin-left: 10%;
margin-right: 10%;
background-color: #efc61a;
color: #6a5d5d;
border-left: solid 5px #0e0e12;
border-top: solid 5px #000080;
border-right: solid 5px #000080;
border-bottom: dashed 1px #eb0e39;
}
#barranavegacao{
margin-left: 10%;
margin-right: 10%;
padding-bottom: 10px;
background-color: #000080;
border-left: solid 5px #000080;
border-right: solid 5px #000080;
border-bottom: dashed 1px #000080;
}
#conteudo{
margin-left: 15%;
margin-right: 15%;
background-color: #FFFFFF;
border-left: solid 5px #000080;
border-right: solid 5px #000080;
text-align: justify;
font-size: 0.9em;
padding: 4px 14px;
}
#rodape{
margin-left: 10%;
margin-right: 10%;
padding: 10px;
background-color: #a6f099;
color: #191616;
border-left: solid 5px #000080;
border-top: dashed 3px #000080;
border-right: solid 5px #000080;
border-bottom: solid 5px #000080;
}


ul.menu{
list-style-type: none;
margin: 0px;
padding: 0px;
}
a.menu:link, a.menu:visited{
background-color: #45459c;
color: #291f1f;
display: block;
text-align: center;
text-decoration: none;
width: 150px;
font-weight: bold;
padding: 5px 0px;
}
a.menu:hover, a.menu:active{
background-color: #fceb23;
}
li.menu{
    float: right;
}
/*---------------------------*/

p{
text-indent: 40px;
}
p.citacao{
padding: 0px 40px;
font-style: italic;
}

#paginaprincipal{
  font-family: arial;
  font-size: 25px;
  font-style: normal;
  color: blue;
  background-color: #e8d5e8;
}
#titulo{
  text-align: center;
  
}
td.rotulos{
text-align: right;
    vertical-align: top;
}
input.campo, select.campo, textarea.campo{
background-color:#bebe0b;
border-style: double;
border-width: 1px;
border-color: #1521d3;
}
input.botao{
width: 100px;
background-color:#F0F8FF;
font-weight: bold;
}
#ingles{
  font-size: 150px;
  text-align: center;
  color: #4ab629;
  font-family: halloge;
  text-shadow: 15px 5px black;
  backface-visibility: visible;
  background-color: #d3340c;
  background-attachment: local;
}
#excel{
  text-align: left;
  font-family: arial;
  font-style: oblique;
  color: #33332f;
  background-color: #baf8f3;
  

}
